<footer class="site-footer">

    <div class="wrapper">
  
      <div class="footer-col-wrapper">
          <div class="footer-col footer-col-2">
              <figure>
         <img src="http://s.gravatar.com/avatar/ddfa218a45e336e75a8a57ecd22e93ba?s=80" alt="My beautiful face." class="gravatar-footer">
              </figure>
          <ul class="social-media-list">
        
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" class="social-links__entry" target="_blank">
             <i class="fab fa-github-square"></i>
            </a>
            {% endif %}
        
            {% if site.facbekook_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" class="social-links__entry" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            {% endif %}
        
            {% if site.linkedin_username %}
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="social-links__entry" target="_blank">
            <i class="fab fa-linkedin"></i>
            </a>
            {% endif %}
          </ul>
        </div>
        
        <div class="footer-col footer-col-3">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
      &copy; Copyright 2019 naugustyn.me
    </div>
  
  </footer>