<footer class="site-footer">

    <div class="wrapper">
  
      <div class="footer-col-wrapper">
          <div class="footer-col footer-col-2">
              <figure>
         <img src="http://s.gravatar.com/avatar/ddfa218a45e336e75a8a57ecd22e93ba?s=80" alt="My beautiful face." class="gravatar-footer">
              </figure>
        </div>
        
        <div class="footer-col footer-col-3">
          <p>{{ site.description | escape }}</p>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="VqO8N6JzY" data-color="#FFDD00" data-emoji=""  data-font="Poppins" data-text="Koop vir my koffie" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
        </div>

  
  </footer>

